<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>The Book Shelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/index.css" th:href="@{/css/index.css}" />
  </head>

  <body th:object="${book}">
	<div th:switch="${book!=null?true:false}"> 
		<h2 th:case="true">BOOK WAS ADDED SUCCESSFULY</h2>
		<h2 th:case="false">There was a problem while adding the Book.</h2>
	</div>

    <p>
      <a href="../home.html" th:href="@{/}">Return to home</a>
    </p>
  </body>
  
</html>