<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>The Book Shelf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/index.css" th:href="@{/css/index.css}" />
  </head>
	<div id="topbar" class="topbar">
	<ul style="background-color: #FFDFD3">
				<li><form action ="save" th:action="@{product/list}" th:object="${form}" method="post">
				<input style="padding:10px"type="text" placeholder="Search.." name="search">
				<button type="submit" th:value="${bookTitle}"><i class="fa fa-search"></i>Search..</button>
			</form></li>
			<li style="float:left"><a class="active" href="/home.html" th:href="@{/}">Home</a></li>
			<!--<a href="#about" href="#userprofile" th:href="@{userprofile}">Profile</a>-->

			</ul>
	</div>
  <body th:object="${author}">

    <h1 th:text="*{name}">AUTHOR</h1>
			<ul style="float:right; list-style-type: none; margin: 0; padding: 0; overflow: hidden;">
			<li>
				<form action ="save" th:action="@{product/addBook}" method="post"> 
					<input type="submit" value="Add A New Book" />
				</form>
			</li>
			<li>
				<form action ="save" th:action="@{product/editAuthor(author=*{name})}" method="post"> 
					<input type="submit" value="Edit Author" />
				</form>
			</li>
	   </ul>
    <div>
       <p>Description: <span th:text="*{description}">Description</span>.</p>
	   <p>Books:</p>
    </div>
	    <table>
      <thead>
        <tr>
          <th>TITLE</th>
          <th>AUTHOR</th>
          <th>PUBLISHER</th>
        </tr>
      </thead>
      <tbody th:remove="all-but-first">
        <tr th:each="book : *{books}">
          <td> 															
			<a href="book.html" th:text="${book.Title}" th:href="@{/book(bookTitle=${book.Title})}">Title</a>
		  </td>
          <td th:text="${book.Author}">Author</td>
                   <td> 
			<a href="publisher.html" th:text="${book.Publisher}" th:href="@{/publisher(publisherName=${book.Publisher})}">Publisher</a>
		  </td>
        </tr>
      </tbody>
    </table>
  
    <p>
      <a href="../home.html" th:href="@{/}">Return to home</a>
    </p>
    
  </body>
  
</html>

